@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    
}
body{
width:100%;
height: fit-content;
background-color: #295155;
font-family: 'Poppins', sans-serif;
}